# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Fly Travel.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\SENA Trabajos\Unity Projects\Fly Travel\.idea\.idea.Fly Travel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
