# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.03_Avion.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\03_Avion\.idea\.idea.03_Avion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
